header{
    text-align: center;
    font-size: 40px;;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background:#5A18C9;
    color:whitesmoke;


}

body{
    background:#00cc99;


}
.infoBox{
    border: 2px solid black;
    background:#FC7307;
    font-weight:700;

}

.bdrCheck {
    border: 2px solid black;
    height: 50px;
}
.goalBox{
    background:red;
    font-size: 30px;
    text-align: center;


}
.winsLossesBox {
    background:yellow;

}
.scoreText{
    background:yellow;
    border-top: 2px solid black;
    border-right:  2px solid black;
    border-left:  2px solid black;

}
.scoreBox{
    background:yellow;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid black;
    border-right:  2px solid black;
    border-left:  2px solid black;
}